:root {
    --primary-color: #f26d3f;
}

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box!important;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #f15e2c;
    text-decoration: none;
}

.bg-primary-color {
    background: var(--primary-color) !important;
}

.primary-color-text {
    color: var(--primary-color) !important;
}

.btn-primary-color {
    border-color: var(--primary-color) !important;
    background: var(--primary-color) !important;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.btn-primary-color:hover {
    border-color: #e75826!important;
    background-color: #e75826!important;
    color: white;
}

.btn {
    margin: 0;
}


/* ========================  HEADER  ========================= */

.header__menu {
    background: #303030;
    text-align: right;
    width: 100%;
    padding: 3px 60px 3px 0px;
    overflow: hidden;
}

.header__item--link {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Quicksand', sans-serif;
}

.header__item--link:hover {
    color: #f26d3f;
    text-decoration: none;
    transition: all 0.5s;
}

.header__item {
    margin-left: 1rem;
}

.header__item-icon {
    margin-right: 3px;
}

.header .nav>li a {
    height: 100%;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: #000!important;
    position: relative;
}

.header .nav>li>a {
    padding: 1rem 1rem 0px 1rem!important;
}


/* =============== NAVBAR ==================== */

.header .dropdown-item>a {
    display: block;
}

.header .dropdown-item {
    padding: 0 !important;
}

.header .dropdown:hover>.dropdown-menu {
    display: block;
}

.header .dropdown-item:hover {
    background-color: #f26d3f;
    transition: all 0.3s;
}

.header .nav .dropdown .dropdown-item:hover>a,
.header .nav .dropdown .dropdown-item:hover>a>.dropdown-icon {
    color: white!important;
    text-decoration: none;
    transition: all 0.3s;
}

.header .nav .dropdown .dropdown-item:hover>a>.dropdown-icon {
    transform: rotate(180deg);
}

.header .dropdown-menu {
    margin-top: 0!important;
    box-shadow: 8px 6px 23px -6px rgb(190 149 134 / 65%)!important;
    padding: 0!important;
}

.header>.dropdown-menu>li {
    display: table-cell;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
}

.header .dropdown-menu .dropdown-menu {
    left: 100%;
    top: 0;
}

.header .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid rgba(51, 51, 51, 0.26);
}

.header .nav .line {
    border-right: #e3e2e2 2px solid;
    height: 1.5rem;
    margin-top: auto;
    margin-bottom: 0.3rem;
}

.header .nav .nav-item:hover>a {
    color: #f26d3f!important;
}

.header .nav li {
    height: 100%;
    margin-top: auto;
}

.hot-news-cont {
    background-color: #f26d3f;
    display: block;
    width: 100%;
    padding: 0.5rem 3%;
}

.cont-item>a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.cont-item>a:hover {
    font-weight: bold;
}


/* ===============HEARDER Mobile============= */

.navbar {
    box-shadow: none!important;
}

.header-mobile .navbar {
    padding: 0;
}

.header-mobile .navbar-header {
    height: 20vw;
    max-height: 135px;
}

.header-mobile .navbar-header .navbar-brand {
    float: left;
    padding: 0px;
    height: 100%;
    margin: 0;
    border-right: #f1f1f1 1px solid;
    overflow: hidden;
}

.header-mobile .navbar-header .navbar-brand a {
    display: block;
    height: 100%;
    text-align: center;
}

.header-mobile .navbar-header .navbar-brand img {
    width: 7vw;
    padding: 1rem 0;
}

.header-mobile .navbar .navbar-menu {
    padding: 0px;
    height: 100%;
    text-align: center;
    margin-left: 15px;
    margin-right: -15px;
    z-index: 86;
}

.navbar-header .navbar-menu a {
    margin-left: 4%;
    margin-right: 4%;
    display: inline-block;
    height: 100%;
    top: 25%;
    position: relative;
}

.navbar-header .navbar-menu a img {
    width: 7vw;
    max-width: 47px;
}

.header-mobile .navbar-header .navbar-menu-count {
    position: relative;
    font-size: 3.5vw;
    color: #303030;
    top: 2vw;
    font-weight: 500;
}

.header-mobile form#formSearchAll {
    padding: 1rem;
    background: #000;
}

.header-mobile form#formSearchAll .input-group-btn {
    background-color: var(--primary-color);
}

.header-mobile form#formSearchAll .input-group-btn img {
    width: 50%;
}


/* ==============
MENU 
==============*/

#btn--menu-mb {
    position: absolute;
    margin-right: -10px;
    background-color: #4c4c4c;
    background-image: none;
    width: 20vw;
    height: 20vw;
    max-width: 135px;
    max-height: 135px;
    top: 0px;
    right: 10px;
    z-index: 99;
    transition: unset;
    border-bottom: #666666 1px solid;
}

#navbarContent--moblie {
    position: fixed;
    top: 20vw;
    left: 0;
    background: #4c4c4c;
    width: 100vw;
    z-index: 9999;
    font-size: 5vw;
}

#navbarContent--moblie .nav-item {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
}

.mobile_menu li.hasChild>a {
    background: url(../img/next.png) no-repeat scroll 95% center / 3% auto;
}

#navbarContent--moblie a {
    flex: 1;
    color: #fff;
    font-weight: bold;
    padding: 1.8rem;
}

#navbarContent--moblie .dropdown-menu {
    background: #4c4c4c;
    border: none;
    padding: 0;
}

#navbarContent--moblie .nav-item:not(:last-child) {
    border-bottom: 4px dashed #898282;
}


/*============================================= */

.btn-profile {
    border: 2px solid #11c73b;
}

.btn-profile--img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.nav-item--cart .cart-icon {
    font-size: 1.5rem;
}

.nav-item--cart .cart-number {
    position: absolute;
    right: -30%;
    top: -30%;
    width: 1rem;
    height: 1rem;
    font: 0.8em sans-serif;
    line-height: 1rem;
}

.search-box {
    width: 100%;
    position: relative;
}

.search-box__input {
    padding: 0.6rem 2.2rem 0.6rem 1rem;
    width: 100%!important;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    outline: none;
    transition: 0.4s;
}

.search-box__btn {
    position: absolute;
    height: 100%;
    top: 0;
    right: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    background: transparent;
    border: none;
    color: rgb(75, 75, 75);
    border-radius: 20px;
}

.search-box__btn:hover {
    background: rgb(219, 218, 218);
    transition: 0.5s;
}

.search-box__btn:focus {
    outline: none;
}


/* ========================  NEWFEED  ========================= */

#newfeed {
    margin-top: 3.5rem;
}

.newfeed__item {
    width: 100%;
    padding: 1.5rem;
    background: var(--white);
    margin-bottom: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 9px 1px #6e6a6a8c;
}

.newfeed__item--media {
    margin: 0 -1.5rem;
}

.newfeed--avatar--img,
.product-review__avatar--img {
    width: 2.8rem;
    height: 2.8rem;
    border: 2px solid #11c73b;
    border-radius: 50%;
}

#newfeed__post--input-text {
    flex: 1;
    resize: both;
    padding-right: 3%;
    margin-left: 1.2rem;
    border: none;
    outline: none;
}

.textarea {
    display: block;
    overflow: hidden;
    height: auto;
    min-height: 40px;
    line-height: 20px;
    border: 1px solid #ccc;
}

.newfeed__post #img-input {
    display: block;
    margin: 0 auto;
    max-height: 9rem;
}

.newfeed__post--attachment-item a {
    color: #8fa0a3;
    font-size: 1.8rem;
    margin-right: 1.5rem;
}

.newfeed__item li {
    list-style: none;
}

.newfeed__post--attachment-item #input-img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

textarea {
    border: ridge 2px;
    padding: 5px;
    width: 20em;
    min-height: 5em;
    overflow: auto;
}

#img-preview {
    display: block;
    margin: 0 auto;
    max-height: 9rem;
}


/* ================= NEWS  ============================== */

.newfeed__item--interactives {
    display: flex;
}

.interactives__item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.interactives__item--icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.newfeed__item--caption {
    word-break: break-all;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.newfeed__item .info--separator {
    margin: 0 0.5rem;
}


/* =================== profile ====================================== */

.avatar-box {
    border: 2px solid #11c73b;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}


/* ==============================REgister ===================== */

.select-address-box>span {
    display: block;
    width: 100%!important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

span.select2-selection.select2-selection--single {
    display: block;
    width: 100%!important;
    line-height: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* --------------------------------- PRODUCT ---------------------------------- */

.prd-detail .breadcrumb {
    background: transparent;
    border-bottom: #000 3px solid;
    padding: 0.5rem 1rem 0.5rem 0;
    border-radius: 0;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.breadcrumb>li+li:before {
    content: "| ";
    padding: 0 5px;
    color: #ccc;
}

.prd-detail .breadcrumb li a:active,
.prd-detail .breadcrumb li a {
    text-decoration: none;
    color: #000;
}

.prd-detail .breadcrumb li.active {
    font-weight: bold;
}


/* =======================
Product image
===========================*/

.prd-detail-main-img .main-img {
    width: 100%;
}

.prd-detail .carousel-inner img {
    width: 100%;
    height: 100%
}

.prd-detail .prd-detail#custCarousel .carousel-indicators {
    position: static;
    bottom: 0;
    margin-top: 20px
}

.prd-detail #custCarousel .carousel-indicators>li {
    width: 100px
}

.prd-detail #custCarousel .carousel-indicators li img {
    display: block;
    opacity: 1!important;
}

.prd-detail #custCarousel .carousel-indicators li.active img {
    opacity: 1!important;
}

.prd-detail #custCarousel .carousel-indicators li:hover img {
    opacity: 1!important;
}

.prd-detail .carousel-item img {
    width: 100%
}


/* ====================== 
PRODUCT DETAIL CONTENT TEXT
=========================*/

.prd-detail .saleprice {
    font-weight: bold;
    color: var(--primary-color);
}

.prd-detail-right .divider {
    margin: 15px 0px;
    background-color: #fff;
    background: url(../img/bg_divider.png) repeat-x 7px;
    height: 2px;
}

.prd-detail-right .cb-color-fixed .bg-color {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 999;
    display: block;
    border: #e1e1e1 1px solid;
}

.prd-detail-right .btn-group {
    width: 80%;
    max-width: 220px;
    border: #a5a5a5 1px solid;
}

.prd-detail-right .btn-group button {
    padding: 0.2rem 1.5rem 0.2rem 0.8rem;
}

.prd-detail-right .filter-option.pull-left {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.prd-detail-right .grp-btn1 {
    margin: 1.4rem 0;
}

.prd-detail-right .grp-btn1 a {
    background: #000;
    border-radius: 0;
    padding: 1.3rem 0;
}

.prd-detail-right #addProductToCart {
    font-weight: bold;
    width: 79%;
    font-size: 1.2rem;
    color: white;
    margin-right: 0.8rem;
}

.prd-detail-right .btn-like #addToWishList {
    width: 18%;
}

.prd-detail-right .btn-like {
    border-radius: 0px;
    background: url(../img/Heart_product_1.svg) no-repeat !important;
    border: none;
    width: 35px;
    height: 30px;
    margin: auto;
}

.btn-primary-color,
.prd-detail-right #pickOrder {
    padding: 0.8rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0;
}

.prd-detail-right #pickOrder {
    width: 100%;
    margin: 0 1rem;
}

.prd-detail-right .info-validate {
    margin: 30px 0px 0px 0px;
    font-size: 16px;
    color: #f15e2c;
}

.prd-detail-right .panel-heading {
    padding: 1.5rem 0;
}

.prd-detail-right .panel-title {
    margin: 0;
    font-size: 1.2rem;
}

.faq-right h6,
.prd-detail-right h6 {
    clear: both;
    overflow: hidden;
}

.prd-detail-right .divider-1 {
    background: url(../img/bg_divider.png) repeat-x 7px;
    height: 2px;
}

.prd-detail-right .panel-title>a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.prd-detail-right .panel-title>a:active {
    color: var(--primary-color);
}

.faq-right .panel-group .panel .panel-collapse .panel-body,
.prd-detail-right .panel-group .panel .panel-collapse .panel-body {
    padding: 20px 0px;
}

.slider-product-img {
    font-family: Arial;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.slider-product-img .item {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
    width: 95%;
}


/* ===============================
    REVIEW 
=============================== */

.product-review {
    width: 90%;
    margin: auto;
}

.product__review--count {
    color: var(--primary-color)!important;
}

.product-review__item {
    display: flex;
    padding: 1.5rem 0;
}

.product-review__item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.rating-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: var(--primary-color);
}

.product-review__author {
    color: #000;
    font-weight: bold;
}

.product-review__author:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.product-review__content {
    font-size: 1rem;
}


/*style form Register*/

::placeholder {
    font-style: italic;
}


/* =======================================     LIST PRODUCTS     ============================================ */

.home-best-seller,
.home-sale-off,
.home-new-arrial {
    max-width: 1200px;
    padding: 40px 0px;
}

.prd-detail-title {
    font-weight: bold;
    font-size: 2rem;
    color: #000;
    text-align: center;
    margin-bottom: 2.5rem;
}

.prd-detail-slide .thumbnail {
    display: inline-block;
    padding: 0px 0.6rem;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.prd-detail-slide .thumbnail .cont-item {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 285px;
    position: relative;
}

.prd-detail-slide1 .thumbnail .cont-item img,
.prd-detail-slide .thumbnail .cont-item img,
.prd-detail-img .thumbnail .cont-item img,
.prd1-right-items .thumbnail .cont-item img,
.prd1-right-items .thumbnail .cont-item.post img {
    width: 100%;
    object-fit: cover;
}

.prd-detail-slide .thumbnail .cont-item {
    margin-bottom: 0.8rem;
}

.prd-detail-slide .thumbnail .caption {
    text-align: center;
    padding: 0px;
    margin-top: 0px;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
}

.prd-detail-slide .name,
.prd-detail-slide .price,
.prd-right-items .name {
    font-size: 1rem;
    color: #000;
    font-weight: bold;
}

.prd-detail-slide .price-real {
    font-weight: normal;
    font-size: 0.9rem;
    color: #333;
    text-decoration: line-through;
}

.prd1-right-items .price-real {
    font-size: 14px;
    color: #808080;
    text-decoration: line-through;
    margin-right: 15px;
}

.prd-right-items .post-des,
.prd-detail-slide .color,
.prd-right-items .color {
    font-size: 1rem;
    color: #000;
}


/* ==============================  CART FIXED ============================================ */

.cartfixed {
    position: fixed;
    right: 0px;
    top: 25vh;
    width: 2.5rem;
    height: 4.5rem;
    font-weight: bold;
    background-color: #ff5f17;
    padding: 10px 2px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}

.cartfixed .cart {
    position: relative;
    right: 302px;
    top: -59px;
    width: 300px;
    background-color: #f1f1f1;
    color: #000;
    text-align: left;
    box-shadow: -2px 4px 10px 1px #999693;
}

.cartfixed span.caret {
    content: "";
    position: absolute;
    right: 0px;
    top: 1rem;
    display: block;
    width: 0;
    height: 0;
    border-width: 6px 6px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #ff5f17;
    transform: rotate(-90deg);
    z-index: 1001;
}

.cartfixed .list-group-item {
    position: relative;
    display: block;
    padding: 0.6rem 1rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
}

.cartfixed .list-group-item.divider {
    border-bottom: #000 3px solid;
    margin: 0px 15px;
    padding: 0px;
}

.cartfixed .items {
    max-height: 345px;
    overflow-y: scroll;
}

.cartfixed .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
}

.cartfixed .total {
    font-size: 13px;
    display: block;
    overflow: hidden;
    padding-top: 15px;
}

.cartfixed .total .tright {
    color: #f15e2c;
}

.cartfixed .butn {
    padding: 0.5rem 1rem 0.8rem 1rem;
}

.cartfixed .butn .btn-checkout,
.cartfixed .butn .btn-addlike {
    width: 100%;
    color: #fff;
    border-radius: 0px;
    font-size: 1.1rem;
}

.cartfixed .butn .btn-checkout {
    background-color: #f15e2c;
}

.cartfixed .butn .btn-addlike {
    background-color: #303030;
    margin-bottom: 5px;
}


/* ========================= YOUR CART ============================= */

.main-cart {
    max-width: 1200px;
    margin-top: 1.8rem;
    margin-bottom: 1.8vh;
    padding-bottom: 0.85rem;
}

.main-cart-left .title-1 {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 23px;
    font-weight: bold;
    margin: 0 0 1.2rem;
    padding: 0.4rem 1.2rem;
}

.main-cart-left .item-2 {
    margin-left: -10px;
}

.cart__product-info--heading {
    font-weight: bold!important;
}

@media only screen and (max-width: 992px) {
    .slick-prev {
        left: 10px !important;
    }
    .slick-next {
        right: 10px !important;
    }
    .prd-detail-slide .thumbnail .cont-item {
        height: 100%;
        position: relative;
    }
    .prd1-right-items {
        margin-left: -20px;
        margin-right: -10px;
    }
    .prd-detail-right #addProductToCart {
        width: 72%;
        font-size: 1.1rem;
    }
    .prd1-right-items .price-real {
        display: block;
        margin-right: 0;
    }
}


/* ================================== Product List =================================== */

.prd1-right-items {
    margin-left: -20px;
    margin-right: -20px;
    min-height: 200px;
}

.prd1-right-items .item {
    margin: 1.3rem 0;
}

.prd1-right-items .thumbnail {
    display: inline-block;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.prd1-right-items .thumbnail .button {
    text-align: center;
    position: relative;
    height: 60px;
    top: -60px;
    z-index: 85;
}

.prd1-right-items .thumbnail .btn-prd1-buynow {
    border-radius: 0px;
    background-color: #f15e2c;
    border: #f15e2c 1px solid;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    padding-top: 16px;
    opacity: 0;
    box-shadow: none;
}

.prd1-right-items .thumbnail:hover .btn-prd1-buynow {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5 ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.thumbnail .cont-item {
    overflow: hidden;
    border-radius: 5px;
}

.thumbnail:hover .cont-item>a>img {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.prd1-right-items .thumbnail .btn-prd1-heart {
    border-radius: 0px;
    /* background: url(../images/heart.png) no-repeat; */
    background: url(../img/Heart_product_1.svg) no-repeat;
    border: none;
    width: 35px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 18px;
}

.prd1-right-items .thumbnail .caption {
    text-align: center;
    padding: 0px;
    margin-top: -40px;
}

.prd1-right-items .name>a,
.prd1-right-items .price,
.prd1-right-items .color {
    font-size: 1rem;
    color: #000;
}

.prd1-right-items .name>a,
.prd1-right-items .price {
    font-weight: bold;
}


/* ====================================================================================================== */


/* CARD FIXED */


/* ====================================================================================================== */

.cartfixed .items .media-object {
    width: 80px;
    height: 80px;
    background-color: #cccccc;
    box-shadow: none!important;
}

.cartfixed .items h4.media-heading {
    font-size: 13px;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.cartfixed .items h5 {
    display: flex;
    clear: both;
    justify-content: space-between;
    font-size: 11px;
}

.cartfixed .items h5 .price {
    font-weight: bold;
    margin: 15px 0px 0px 0px;
}

.cartfixed .divider {
    margin: 14px 0px 10px 0px;
    background-color: #fff;
    background: url(../img/bg_divider.png) repeat-x 7px;
    height: 2px;
}

.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}


/* ========================================================================================================================== */

#complete-order .tick-img {
    width: 100px;
    height: 100px;
}

#complete-order .divider {
    background: url(../img/bg_divider.png) repeat-x 7px;
    height: 2px;
}

.prd1-right-items .btn-back,
#btn-watch-all {
    border-radius: 0px;
    background-color: #f15e2c;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
}

.prd1-right-items .divider2 {
    background-color: #000;
    height: 3px;
    width: 100%;
}